@model MvcMusicStore.Models.AlbumEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Album.AlbumId)

        <div class="form-group">
            @Html.LabelFor(model => model.Album.GenreId, "GenreId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Album.GenreId, Model.Genres)
                @Html.ValidationMessageFor(model => model.Album.GenreId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album.ArtistId, "ArtistId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Album.ArtistId, Model.Artists)
                @Html.ValidationMessageFor(model => model.Album.ArtistId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Title)
                @Html.ValidationMessageFor(model => model.Album.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Price)
                @Html.ValidationMessageFor(model => model.Album.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album.AlbumArtUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.AlbumArtUrl)
                @Html.ValidationMessageFor(model => model.Album.AlbumArtUrl)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
